@font-face {
  font-family: 'molotregular';
  src: url('molot-webfont.eot');
  src: url('molot-webfont.eot?#iefix') format("embedded-opentype"), url('molot-webfont.woff') format("woff"), url('molot-webfont.ttf') format("truetype"), url('molot-webfont.svg#molotregular') format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNext LT Pro Regular';
  src: url('AvenirNextLTPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AvenirNextLTPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('AvenirNextLTPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AvenirNextLTPro-Regular.svg#fa20c367c6a148cda65f50238befb5f2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'AvenirNext LT Pro Demi';
  src: url('AvenirNextLTPro-Demi.eot'); /* IE9 Compat Modes */
  src: url('AvenirNextLTPro-Demi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AvenirNextLTPro-Demi.woff') format('woff'), /* Modern Browsers */
       url('AvenirNextLTPro-Demi.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AvenirNextLTPro-Demi.svg#9b4c7bb97a15852a038674d2e7642256') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'AvenirNext LT Pro Medium';
  src: url('AvenirNextLTPro-Medium.eot'); /* IE9 Compat Modes */
  src: url('AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('AvenirNextLTPro-Medium.woff') format('woff'), /* Modern Browsers */
       url('AvenirNextLTPro-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('AvenirNextLTPro-Medium.svg#bca38cd97b16c9a0a447297f3709bcd3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

html {
	height: 100%;
	overflow-x: hidden;
	background: url("../img/bg.png") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	background-color:rgba(255,0,0,0);
  /*color: #fff;
  font-family: 'Montserrat', sans-serif;
  /*padding-top: 110px;*/
  /*background-image: url("../img/bg.png");*/
  /*background-color: #34495e;*/
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
  /*height: 100%;*/
}

.overlay {
	/*height: 100%;*/
	/*background-color: rgba(0, 0, 0, 0.2);*/
}

.container {
	/*margin-top: 114px;*/
	/*position: relative;*/
}

.location-form {
	/*display:none;*/
	/*display:none;*/
}

.personal-info-form {
	/*margin-top: 150px;*/
	/*margin-top: -350px;*/
	position:absolute;
	top:114px;
	display: none;
	width: 100%;
}

.row-fluid {
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.property-info-form {
	/*margin-top: -650px;*/
	display: none;
	position:absolute;
	top:114px;
	display: none;
	width: 100%;
}

.success-form {
	display: none;
	position:absolute;
	top:114px;
	display: none;
	width: 100%;
}

#success-box {
	border-radius: 6px;
	/* Rectangle 9: */
	background: rgba(255,255,255,0.33);
	height: 450px;
	width: 400px;

	padding: 10px;
	
	position: relative;
	left: 50%;
	margin-left: -200px;
}

#success-box-solid {
	border-radius: 5px;
	/* Rectangle 11: */
	background: #FFFFFF;
	-moz-box-shadow:    0px 2px 0px 0px #8E8E8E;
	box-shadow:         0px 2px 0px 0px #8E8E8E;
	
	color: #000;
	height: 430px;

	padding: 10px;
}

#property-form {
}


#content {
	margin-top: 100px;
}

#banner-text {
	font-family: AvenirNext LT Pro Demi;
	font-size: 55px;
	color: #FFFFFF;
	line-height: 50px;
	/* Let us do your renta: */
	text-shadow: 0px 2px 0px rgba(0,0,0,0.50);
	text-align: center;
	margin-top: 40px;
}

#banner-text-sub {
	font-family: AvenirNext LT Pro Regular;
	font-size: 25px;
	color: #FFFFFF;
	line-height: 24px;
	/* Curated property lis: */
	text-shadow: 0px 2px 3px rgba(0,0,0,0.50);
	text-align: center;
	margin-top: 20px;
}

#action-box {
	border-radius: 6px;
	/* Rectangle 8: */
	background: rgba(255,255,255,0.33);

	width:500px;
	height:50%;

	position: relative;
	left: 50%;
	margin-left: -250px;
	margin-top: 80px;
	margin-bottom: 50px;
	overflow:hidden;
	padding: 10px;
}

#where-box {
	border-radius: 5px;
	/* Rectangle 10: */
	background: #FFFFFF;
	-moz-box-shadow:    0px 2px 0px 0px #8E8E8E;
	box-shadow:         0px 2px 0px 0px #8E8E8E;

	height: 50%;
	position: relative;

	font-family: AvenirNext LT Pro Regular;
	font-size: 25px;
	color: #2C3E50;
	line-height: 34px;
	padding-left: 10px;
	padding-top: 5px;
	margin-bottom: 20px;
	overflow:hidden
}

#location-input {
	border: 0;
	width: 90%;
	outline: none;
	position: relative;
	overflow:hidden
}

#options-panel:before {
	content: "";
	position: absolute;
	top: -15px;
	right: 0;
	
	width: 240px;
	height: 20px;

	background-image: url("../img/options-box.png");
	background-size: contain;
	background-repeat: no-repeat;
}

#options-panel {
	position: absolute;
	right: 40px;
	z-index: 1;
	top: 100px;
	/* height: 240px; */
	width: 240px;
	/* background-image: url("../img/login-box.png"); */
	background-size: contain;
	background-repeat: no-repeat;
	padding: 15px;
	/*padding-top: 30px;*/
	background: white;
	border: 0;
	border-radius: 8px;
	border-bottom: 2px solid #494949;
}

.login-control {
	margin-bottom: 10px;
	border-radius: 5px;
	/* Rectangle 11: */
	background: #FFFFFF;
	border: 1px solid #2C3E50;
	width: 100%;

	font-family: AvenirNext LT Pro Medium;
	padding-left: 5px;
	height: 30px;
}

.login-control:focus {
	outline: none;
}

#btn-login {
	width: 100%;
}

.user-icon {
	padding: 0 10px;
	float: left;
}

a.reset-password {
	display: block;
	margin-top: 10px;
	font-size: 12px;
}

.login-form .reset-message {
	padding-bottom: 10px;
}

.login-form .error {
	border: 1px solid red;
    background: #FDEFF0;
    padding: 5px 15px;
    margin-bottom: 10px;
}

.login-form .success {
    border: 1px solid green;
    background: #F3FFF3;
    padding: 5px 15px;
    margin-bottom: 15px;
}

.success {
	padding-bottom: 10px;
}

.tm-input {
	border: 0;
	outline: none;
	width: 100%;
	margin-bottom: 10px;
}

.tm-tag {
	float:left;
	border-radius: 5px;
	background: #3498DB;
	font-family: AvenirNext LT Pro Medium;
	font-size: 22px;
	color: #FFFFFF;
	line-height: 25px;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.tm-tag-remove {
	margin-left: 5px;
	color: #FFFFFF;
}

.navbar {
  background: transparent;
  border: none;
  border-radius: 0;
}

.navbar-nav {
  width: 100%;
  text-align: center;
}

.navbar-nav > li {
  float: none;
  display: inline-block;
}

.text-center {
	font-family: AvenirNext LT Pro Demi;
	font-size: 40px;
	color: #FFFFFF;
	line-height: 30px;
	/* A bit about you: */
	text-shadow: 0px 2px 0px rgba(0,0,0,0.50);
	margin-bottom: 40px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.tooltip-inner {
	max-width: 300px;
}

@media (min-width: 768px) {
  .navbar-header {
    display: none;
  }

  .nav-login {
    position: absolute;
    right: 30px;
    top: 10px;
  }

  .nav .pull-right {
    position: absolute;
    right: 36px;
    top: 36px;
  }
}

.navbar .navbar-header .navbar-brand {
  color: #fff;
  font-family: 'molotregular';
  font-size: 29px;
  text-shadow: 0px 4px #000;
  font-weight: normal;
}

ul.nav a:hover { color: #fff !important; }

.navbar-brand .Q {
  font-size: 34px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-family: 'molotregular';
  font-size: 50px;
  text-shadow: 0px 4px #000;
  font-weight: normal;
  line-height: 80px;
}

.title .Q {
  font-size: 60px;
}

.btn-flat {
	position: relative;
	vertical-align: top;
	font-size: 18px;
	height: 46px;
	min-width: 130px;
	color: white;
	text-align: center;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	font-family: AvenirNext LT Pro Medium;
}

.btn-flat:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-orange {
  background: #f1c40f;
  border-bottom: 2px solid #A0861D;
  -webkit-box-shadow: inset 0 -2px #A0861D;
  box-shadow: inset 0 -2px #A0861D;
  outline: none;
}

.btn-green {
	background: #2ECC71;
	border-bottom: 2px solid #1B7240;
	-webkit-box-shadow: inset 0 -2px #1B7240;
	box-shadow: inset 0 -2px #1B7240;
	outline: none;
}

.btn-login-mini {
	float: right;
	top: 7px;
	margin-right: -15px;
	padding: 5px 10px;
	padding-right: 15px;
	min-width: 0;
	height: 40px;
}

.btn-green:active {
	top: 1px;
	outline: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-find {
	position:relative;
	height: 60px;
	width: 480px;
	font-size: 1.6em;
}

.btn-next {
	width: 160px;
	padding-left: -5px;
	margin-top: 40px;
	font-size: 0.6em;
}

/* Personal form */
.form-control {
	/* Rectangle 11: */
	background: #FFFFFF;
	-moz-box-shadow:    0px 3px 0px 0px #34495E;
	box-shadow:         0px 3px 0px 0px #34495E;

	border: none;

	height: 38px;
	line-height: 30px;

	font-family: AvenirNext LT Pro Medium;
	font-size: 18px;
}

input.form-control:focus, select.form-control:focus{
    border-color: #cccccc;
    -webkit-box-shadow: none;
	/* Rectangle 11: */
	background: #FFFFFF;
	-moz-box-shadow:    0px 3px 0px 0px #34495E;
	box-shadow:         0px 3px 0px 0px #34495E;
	border: none;

	height: 38px;
	line-height: 30px;

	font-family: AvenirNext LT Pro Medium;
	font-size: 18px;
	color: #34495e;
}

.form-control::-webkit-input-placeholder { color: #95a5a6; }

.control-label {
	font-family: AvenirNext LT Pro Medium;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
	/* First name: */
	text-shadow: 0px 1px 0px #34495E;
	margin-bottom: 5px !important;
	font-size: 20px !important;
	font-weight: 20 !important;
}

form .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 5px 15px;
    margin-bottom: 15px;
}

#progress-bar-1 {
	background-image: url("../img/progress-1.png");
	height: 120px;
	
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	margin-left: 20%;
	margin-right: 20%;
}

#progress-bar-2 {
	background-image: url("../img/progress-2.png");
	height: 120px;
	
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	margin-left: 20%;
	margin-right: 20%;
}

#progress-bar-3 {
	background-image: url("../img/progress-2.png");
	height: 120px;
	
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;

	margin-left: 20%;
	margin-right: 20%;
}

#thumb {
	position: relative;
	left: 50%;
	margin-left:-40px;
	margin-bottom: 20px;
	margin-top: 20px;
}

#line {
	position: relative;
	left: 50%;
	margin-left:-100px;
	margin-bottom: 20px;
}

#awesome {
	font-family: AvenirNext LT Pro Demi;
font-size: 40px;
color: #34495E;
line-height: 48px;
text-align: center;
/* Awesome!: */
}

#awesome-sub-text {
	font-family: AvenirNext LT Pro Demi;
font-size: 20px;
text-align: center;
color: #34495E;
line-height: 26px;
padding: 20px;
/* Sit back and relax.: */
}


label .control-label {
	font-family: AvenirNext LT Pro Medium;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 22px;
	/* First name: */
	text-shadow: 0px 1px 0px #34495E;
	margin-bottom: 5px !important;
	font-size: 20px !important;
	font-weight: 20 !important;
}


/* Mobile */
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 520px) {
	.container {
		/*display:none;*/
		/*display:none;*/
		margin-top: 0px;
	}

	#action-box {
		width: 100%;
		left: 0;
		margin-left: 0;
	}

	#banner-text {
		font-size: 42px;
		line-height: 45px;
		margin-top: 20px;
	}

	#banner-text-sub {
		font-size: 20px;
	}

	#action-box {
		margin-top: 60px;
	}

	#btn-find-container {
		width: 100%;
	}

	.btn-find {
		margin: 0px;
		width: 100%;
	}

	.personal-info-form {
		top: none;
	}

	.form-control {
		margin-bottom: 15px;
	}

	#progress-bar-1 {
		margin-left: 0;
		margin-right: 0;
	}
	
	#progress-bar-2 {
		margin-left: 0;
		margin-right: 0;
	}
	
	#progress-bar-3 {
		margin-left: 0;
		margin-right: 0;
	}

	.text-center {
		line-height: 38px;
	}

	.navbar-toggle {
		margin-right: 0px;
	}

	#success-box {
		left: 0;
		margin-left: 0;
		width: 100%;
	}

	#where-box {
		font-size: 13px;
		line-height: 20px;
	}

	#where {
		font-size: 20px;
		line-height: 30px;
	}
	
	.tm-tag {
		font-size: 12px;
		line-height: 15px;
	}

	.btn-find {
		height: 40px;
		font-size: 1em;
	}
}

@media only screen and (max-width: 767px) {
	#options-panel:before {
		background-image: url("../img/options-box-mobile.png");
	}

	#options-panel {
		top: 85px;
	}
}

