<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HouseQuest App</title>
    <link href="css/bootstrap3.css" rel="stylesheet" type="text/css">
    <link href="css/properties.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/json2.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="js/properties.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <!-- Property App Interface -->

    <div class="container"> 
      <div id="propertyapp" class="col-md-10 col-md-offset-1">
        <div class="title">
          <h1>House<span>Q</span>uest</h1>
        </div>

        <div class="content">
        </div>
      </div>
    </div>

    <!-- Templates -->

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="email" id="login-email" placeholder="Email" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="email" id="signup-email" placeholder="Email" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="manage-properties-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>

      <div class="section">

        <header id="header">
          <input id="new-property" placeholder="What property are you adding?" type="text" />
        </header>

        <div class="row-fluid" id="main">
          <input id="view-all" type="checkbox">
          <label for="view-all">Mark all as viewed</label>
          
          <div class="col-md-5">
            <iframe width="100%" height="300px"
              frameborder="0" style="border:0;  margin: 10px 0;"
              src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDn87RmPxJamjCTxGxTQuu8QNdvrgKQvoI
                &q=Space+Needle,Seattle+WA">
            </iframe>
          </div>
          <div class="col-md-7">
            <ul id="property-list">
              <img src='img/spinner.gif' class='spinner' />
            </ul>
          </div>
        </div>

        <div id="property-stats"></div>
      </div>
    </script>

    <script type="text/template" id="item-template">
      <li class="listing <%= starred ? 'starred' : '' %> <%= hidden ? 'hidden' : '' %> <%= viewed ? '' : 'unviewed' %>">
      	<a class="view" href="<%= _.escape(content.details_url) %>">
      	  <input class="markview" type="checkbox" <%= viewed ? 'checked="checked"' : '' %>>
          <input class="star" type="checkbox" <%= starred ? 'checked="checked"' : '' %>>
          <input class="hide" type="checkbox" <%= hidden ? 'checked="checked"' : '' %>>
      	  <label class="property-content"><%= _.escape(content.displayable_address) %> 
          <%= _.escape(content.num_bedrooms) %> bed 
          <%= _.escape(content.num_bathrooms) %> bath 
          £<%= _.escape(content.rental_prices.per_month) %> pcm
          </label>
      	  <button class="property-destroy"></button>
      	</a>
      	<input class="edit" value="<%= _.escape(content) %>">
      </li>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
	<span id="property-count"><strong><%= unviewed %></strong> <%= unviewed == 1 ? 'property' : 'properties' %> still not viewed</span>
	<ul id="filters">
	  <li>
	    <a href="javascript:void(0)" id="all" class="selected">All</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="active">Active</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="starred">Starred</a>
	  </li>
    <li>
      <a href="javascript:void(0)" id="hidden">Hidden</a>
    </li>
    <li>
      <a href="javascript:void(0)" id="unviewed">Not viewed</a>
    </li>
	</ul>
	<button id="clear-hidden">Clear hidden (<%= hidden %>)</button>
      </footer>
    </script>

  </body>

</html>
