<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HouseQuest App</title>
    <link href="css/bootstrap3.css" rel="stylesheet" type="text/css">
    <link href="css/properties.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="js/underscore.js"></script>
    <script src="js/json2.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="js/properties.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <!-- Property App Interface -->

    <div class="container-fluid"> 
      <div id="propertyapp" class="col-sm-12">
        <div class="title">
          <h1>House<span>Q</span>uest</h1>
        </div>

        <div class="content">
        </div>
      </div>
    </div>

    <!-- Templates -->

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4 login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <div class="success" style="display:none"></div>
          <input class="form-control" type="email" id="login-email" placeholder="Email" />
          <input class="form-control" type="password" id="login-password" placeholder="Password" />
          <button class="btn btn-default">Log In</button>
          <a class="reset-password">reset password</a>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input class="form-control" type="email" id="signup-email" placeholder="Email" />
          <input class="form-control" type="password" id="signup-password" placeholder="Create a Password" />
          <button class="btn btn-default">Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="manage-properties-template">
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>

      <div class="section">

        <header id="header">
          <input id="new-property" placeholder="Add a Zoopla/Rightmove link" type="text" />
        </header>

        <div class="row-fluid" id="main">
          <input id="view-all" type="checkbox">
          <label for="view-all">Mark all as viewed</label>
          
          <div id="map-col" class="col-sm-6">
            <div id="map-canvas"></div>
          </div>

          <div class="col-sm-6">
            <ul id="property-list">
              <img src='img/spinner.gif' class='spinner' />
            </ul>
          </div>
        </div>

        <div id="property-stats"></div>
      </div>
    </script>

    <script type="text/template" id="item-template">
      <li id="<%= _.escape(content.listing_id) %>" class="listing <%= starred ? 'starred' : '' %> <%= hidden ? 'hidden' : '' %> <%= viewed ? '' : 'unviewed' %>">
      	<a class="view row" href="<%= _.escape(content.details_url) %>">
          <div class="listing_image col-md-5">
            <img src="<%= _.escape(content.image_url) %>">
          </div>

          <div class="listing_info col-md-7">
           <div class="row-fluid listing_location">
              <h4><%=_.escape(content.property_type) %> for <%=_.escape(content.listing_status) %> in:</h4>
              <p><%= _.escape(content.street_name) %> <%= _.escape(content.outcode) %></p>
            </div>
           
            <div class="row listing_headline">
              <div class="col-xs-3">
                <p>BEDS</p>
                <h3><%=_.escape(content.num_bedrooms)%></h3>
              </div>

              <div class="col-xs-3">
                <p>BATHS</p>
                <h3><%=_.escape(content.num_bathrooms)%></h3>
              </div>

              <div class="col-xs-3">
                <p>LOUNGE</p>
                <h3><%=_.escape(content.num_recepts)%></h3>
              </div>

              <div class="col-xs-3">
                <p>PCM</p>
                <h3>£<%=_.escape(content.rental_prices.per_month)%></h3>
              </div>
            </div>

            <div class="row-fluid listing_options">
              <div class="col-xs-8">
                <input class="markview btn btn-primary" type="checkbox" <%= viewed ? 'checked="checked"' : '' %>> 
              </div>
              <div class="col-xs-2">
                <input class="star btn btn-default" type="checkbox" <%= starred ? 'checked="checked"' : '' %>>
              </div>
              <div class="col-xs-2">
                <input class="hide btn btn-default" type="checkbox" <%= hidden ? 'checked="checked"' : '' %>> 
              </div>
            </div>

            <div class="row-fluid listing_age">
              <p class="help-block text-right">Added <%= _.escape(dateDiff(Date.parse(content.last_published_date))) %></p>
            </div>            
          </div>
      	</a>
      </li>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
      	<span id="property-count"><strong><%= viewed %></strong> <%= viewed == 1 ? 'viewing' : 'viewings' %> requested</span>
      	<ul id="filters">
          <li>
            <a href="javascript:void(0)" id="active" class="selected">Active</a>
          </li>
          <li>
            <a href="javascript:void(0)" id="starred">Starred</a>
          </li>
          <li>
            <a href="javascript:void(0)" id="viewed">Viewings</a>
          </li>
      	  <li>
      	    <a href="javascript:void(0)" id="all">All</a>
      	  </li>
          <li>
            <a href="javascript:void(0)" id="hidden">Hidden</a>
          </li>
          
      	</ul>
      	<button id="clear-hidden">Clear hidden (<%= hidden %>)</button>
      </footer>
    </script>

    <script>
      $(function() {

        // grab the initial top offset of the navigation 
        var sticky_navigation_offset_top = $('#map-canvas').offset().top;
        
        // our function that decides weather the navigation bar should have "fixed" css position or not.
        var sticky_navigation = function(){
          var scroll_top = $(window).scrollTop(); // our current vertical position from the top
          
          // if we've scrolled more than the navigation, change its position to fixed to stick to top, otherwise change it back to relative
          if (scroll_top > sticky_navigation_offset_top) { 
            var width = $("#map-col").width(), left = $("#map-col").offset().left;
            $('#map-canvas').css({ 'position': 'fixed', 'top':0, 'left':left+15, 'width': width });
          } else {
            $('#map-canvas').css({ 'position': 'relative', 'left':0 }); 
          }   
        };
        
        // run our function on load
        sticky_navigation();
        
        // and run it again every time you scroll
        $(window).scroll(function() {
           sticky_navigation();
        });
        
      });
    </script>

  </body>

</html>
