/*@font-face {
  font-family: 'molotregular';
  src: url('/fonts/molot-webfont.eot');
  src: url('/fonts/molot-webfont.eot?#iefix') format("embedded-opentype"), url('/fonts/molot-webfont.woff') format("woff"), url('/fonts/molot-webfont.ttf') format("truetype"), url('/fonts/molot-webfont.svg#molotregular') format("svg");
  font-weight: normal;
  font-style: normal;
}
.molot {
  font-family: 'molotregular';
}*/

.thanks {
    font-size: 2em;
}

img {
  width: auto\9;
  /* IE 8 Hack */
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.landing-page {
  background: #f2f5f6;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #b6d1db 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2f5f6), color-stop(37%, #e3eaed), color-stop(100%, #b6d1db));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #b6d1db 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #b6d1db 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f2f5f6 0%, #e3eaed 37%, #b6d1db 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #f2f5f6 0%, #e3eaed 37%, #b6d1db 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f5f6', endColorstr='#b6d1db',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  margin: 0;
  margin-top: 25px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.landing-page html {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}
.landing-page #content {
  padding-bottom: 75px;
}
.landing-page #footer-container {
  width: 78%;
  margin-top: 70px;
}
.landing-page .footer-landing {
  position: absolute;
  height: 75px;
  bottom: 0;
  width: 100%;
}
.landing-page .footer-landing .container {
  margin-top: 15px;
}
.landing-page .footer-landing .copyright {
  list-style-type: none;
  font-weight: normal;
  color: #7d7d7d;
}
.landing-page .footer-landing #social-network-list {
  display: inline;
  list-style-type: none;
  height: auto;
}
.landing-page .footer-landing #social-network-list .social-network-image {
  width: 25px;
  height: 25px;
}
.landing-page .footer-landing .social-network-list-item {
  display: inline-block;
  height: 35px;
}
.landing-page .footer-landing #footer-links {
  display: inline;
  color: #5C5C5C;
  margin-right: 0;
}
.landing-page .footer-landing #footer-links a {
  text-decoration: none;
  color: #5C5C5C;
}
.landing-page .header-unit {
  float: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
.landing-page .header-unit h1 {
  font-size: 126px;
  text-shadow: 0px 4px #fff;
  font-weight: normal;
  margin-bottom: 50px;
}
.landing-page .Q {
  font-size: 160px;
}
.landing-page #subtext {
  margin-top: 70px;
  font-size: 32px;
}
.landing-page .info {
  float: center;
  margin-top: 50px;
  width: 80%;
  margin-left: 11%;
}
.landing-page .info-box {
  border-right: 1px dashed #bfbfbf;
  padding-left: 10px;
  padding-right: 10px;
  height: 200px;
}
.landing-page .info-box-right {
  padding-left: 10px;
  padding-right: 10px;
  height: 200px;
}
.landing-page #info-image-left {
  margin-left: 0;
  margin-right: auto;
  display: block;
}
.landing-page #info-image-center {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  display: block;
}
.landing-page #info-image-right {
  margin-left: auto;
  margin-right: 0;
  display: block;
}
.landing-page .copyright {
  margin-top: 80px;
  font-weight: bold;
}
.landing-page #get-started {
  margin-top: 50px;
  margin-bottom: 40px;
}
.landing-page .btn-custom {
  background-color: #996b00 !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffb50a", endColorstr="#996b00");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ffb50a), to(#996b00));
  background-image: -moz-linear-gradient(top, #ffb50a, #996b00);
  background-image: -ms-linear-gradient(top, #ffb50a, #996b00);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb50a), color-stop(100%, #996b00));
  background-image: -webkit-linear-gradient(top, #ffb50a, #996b00);
  background-image: -o-linear-gradient(top, #ffb50a, #996b00);
  background-image: linear-gradient(#ffb50a, #996b00);
  border-color: #996b00 #996b00 #7d5700;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.landing-page #not-ready {
  text-align: center;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
  color: #5C5C5C;
  font-size: 1.5em;
  width: 600px;
}
.landing-page #email-form {
  margin-top: 50px;
}
.landing-page #form-messages {
  font-size: 1em;
}
.landing-page .alert alert-success {
  background-color: #fff;
}
.landing-page #social-network-list {
  display: inline;
  list-style-type: none;
  margin: 0;
  margin-top: 40px;
  height: auto;
  line-height: 80px;
}
.landing-page .social-network-list-item {
  display: inline-block;
  height: 35px;
  margin: 20;
  margin-right: 5px;
}
@media (max-width: 939px) {
  .landing-page .header-unit h1 {
    font-size: 74px;
    margin-bottom: 0px;
  }
  .landing-page .Q {
    font-size: 90px;
  }
  .landing-page .header-unit p {
    font-size: 22px;
    margin-top: 35px;
  }
  .landing-page .header-unit {
    margin-bottom: 0px;
  }
  .landing-page #subtext {
    margin-top: 40px;
    font-size: 25px;
  }
  .landing-page #get-started {
    width: 90%;
    margin-left: 5%;
  }
  .landing-page #not-ready {
    margin-top: 20px;
    width: 100%;
  }
  .landing-page #get-started {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .landing-page .info {
    margin-top: 10px;
  }
  .landing-page .info-box {
    border-right: 0;
    height: 10%;
  }
  .landing-page .row-fluid .span4 {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 640) {
  .landing-page #btn-email-submit {
    margin-top: 0;
  }
  .landing-page #subtext {
    font-size: 10px;
  }
  .landing-page .footer {
    margin-top: 20px;
  }
  .landing-page #get-started {
    width: 90%;
    margin-left: 5%;
  }
}
@media (max-width: 480px) {
  .landing-page body {
    margin-top: 0px;
  }
  .landing-page .header-unit h1 {
    font-size: 3.5em;
    margin-top: 0;
    margin-bottom: 0px;
  }
  .landing-page .Q {
    font-size: 60px;
  }
  .landing-page #subtext {
    margin-top: 12px;
    font-size: 17px;
  }
  .landing-page .header-unit p {
    font-size: 20px;
    margin-top: 20px;
  }
  .landing-page .header-unit {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .landing-page h3 {
    font-size: 1.5em;
  }
  .landing-page #get-started {
    width: 90%;
    margin-left: 5%;
  }
  .landing-page .info-box {
    border-right: 0;
    height: 20%;
  }
  .landing-page #not-ready {
    width: 100%;
  }
  .landing-page .span12 h3 {
    line-height: 25px;
  }
  .landing-page #email-form {
    margin-top: 30px;
  }
  .landing-page #email-text {
    width: 238px;
  }
  .landing-page #btn-email-submit {
    width: 250px;
    margin-top: 5%;
  }
}
